html{
  height: auto;
  min-height: 100%;
  width: 100%;
  position: absolute;
}
body{
  height: 100%;
  min-height: 100% !important;
  width: 100%;
  position: absolute;
}
.main-panel{
  width:100%;
}
.centered{
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.clear{
  clear: both;
}
.wrapper{
  background-color: #f4f3ef;
  min-height: 100%;
  height: auto;
}
.font-upper{
  text-transform: uppercase !important;
}
.font-grey{
  color:#AAAAAA;
}
.font-bold{
  font-weight: bold !important;
}
.font-light{
  font-weight: lighter !important;
}
#wrapper_entrypoint{
  background-image: url('../img/background/bg_car_2.png');
  position:absolute;
  width:100%;
  height:100%;
}
#content_logo_entrypoint{
  padding-top:17.5px;
  padding-bottom:17.5px;
}
#footer_entrypoint{
  width: 100%;
  z-index: 999;
  bottom: 0px;
  position: fixed;
  border-top:1px solid #DDDDDD;
  background-color: #FFFFFF;
}
#nav_entrypoint{
  margin-bottom: 0px;
  height:auto;
  background-color: #FFFFFF;
}
#nav_entrypoint_{
  width:100%;
  padding:10px;
  background-color: #FFFFFF;
  position: fixed;
  border-bottom:1px solid #DDDDDD;
  z-index: 999;
}
#footer_entrypoint_{
  width:100%;
  padding:15px;
  background-color: #FFFFFF;
  position: fixed;
  border-top:1px solid #DDDDDD;
  bottom: 0px;
  z-index: 999;
}
#body_entrypoint{
  background-image: url('../img/background/bg_car_2.png');
}
#content_entrypoint{
  padding:30px;
  background-color: #FFFFFF;
  margin-top: 100px;
  margin-bottom: 80px;
}
#container_entrypoint{
  padding:30px;
  background-color: #FFFFFF;
  margin-top: 50px;
  margin-bottom: 50px;
}
.nomargin{
  margin:0px;
}
.nomargin-top{
  margin-top: 0px;
}
.margin-bottom-md{
  margin-bottom: 20px;
}
.margin-top-lg{
  margin-top: 40px;
}
.btn_square{
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.font-sm{
  font-size:0.8em;
}
#wrapper_loginmotorista{
  /*background-image: url('https://files.slack.com/files-pri/T4Z4RETV4-F4YKYF6KF/bg_car.png');
  background-size: cover;*/
  position: absolute;
  width: 100%;
  height:auto;
  min-height: 100%;
}
#login_motorista{
  margin-top:40px;
}
.padding-lg{
  padding:40px;
}
.padding-md{
  padding:20px;
}
.padding-md{
  padding:10px;
}
.addon_custom{
  background-color:#EEEEEE;
}
.form-control-custom{
  background-color: #F5F5F5 !important;
}
.border-width-xs{
  border-width: 1px;
}
.margin-bottom-xs{
  margin-bottom:5px;
}
#content_logo_login{
  margin-top:40px;
}
.padding-left-xs{
  padding-left:5px;
}
.padding-right-xs{
  padding-right:5px;
}
.item-motorista{
  padding-top:10px;
  padding-bottom:10px;
  border-bottom:1px solid #EEEEEE;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
.item-motorista:hover{
  background-color: #F5F5F5;
}
.item-motorista p{
  margin-bottom:0px;
}
.item-motorista-nome{
  white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}
.font-xs{
  font-size:0.6em;
}
